/*--------------------------Mobile first responsive design--------------------------*/
/*-------------General selectors-------------*/
*{
	font-family: raleway,sans-serif;
	font-size: 12px;
	margin: 0px;
	padding:0px; 
	box-sizing: border-box;
}
h1, h2, .strong{
	font-weight: bold;
}
h1, .fa-chart-line{
	font-size: 20px;
}
h1{
	font-size: 15px;
}
a{
	text-decoration: none;
	color : black;
}
article{
	background: white;
	border:solid 3px #F2F2F2;
	border-radius: 30px;
	padding: 5px;
	margin: 20px 30px 0px 30px;
	box-shadow: 0px 5px 10px rgba(0,0,0,.1);
}
section{
	margin: 0 0 25px 0;
}
i, .active{
	color: #0065FC;	
}
.grey_star{
	color: #F2F2F2;	
}
.fa-star {
	padding-right: 2px;
}
.popular_section h1, .hosting_section h1, .activity_section h1{
	padding:10px 30px 5px 30px;
}
.popular p, .popular strong, .hosting strong{
	word-wrap: normal;
	margin-bottom: 70px;
	font-size: 12px;
}
.popular_section, footer{
	background: #F2F2F2;
}
img{
	object-fit: cover;
}

/*-------------Header/NavBar-------------*/
nav{
	display: grid;
	grid-auto-rows: 1fr 1fr;
	grid-template-columns: 50% 50%;
	grid-row-gap: 15px;
	padding: 15px 0px 0px 0px;
}
.logo{
	height: 55px;
	padding-left: 30px;
}
.nav_hosting, .nav_activity{
	text-align: center;
	align-self: center;
	font-size: 20px;
	border-bottom: solid #0065FC 3px;
	padding-bottom: 10px;
}
.nav_subscribe{
	text-align: right;
	align-self: center;
	font-size: 20px;
	color: #0065FC;
	font-weight: bold ;
	padding-right: 30px;
}
.nav_activity{
	border-bottom: solid #F2F2F2 3px;
}

/*-------------City search button-------------*/
.search_field{
	position: relative;
	text-align: center;
	height: 45px;
	width: 90%;
	margin : 30px 5% 30px 5%;
	background: white;
	border:solid 2px #F2F2F2;
	border-radius: 20px;
}
.fa-search{
	position: absolute;
	top:-2px;
	right:-2px;
	height: 46px;
	line-height: 46px;
	width: calc(100% / 8);
	background: #0065FC;
	border-radius: 20px;
	color: white;
}
.fa-map-marker-alt{
	position: absolute;
	top:-2px;
	left:-2px;	
	height: 46px;
	line-height: 46px;
	width: calc(100% / 8);
	color: black;
	background: #F2F2F2;
	border-radius: 20px 0 0 20px;
}
.search_section input{
	height:100%;
	width: calc(6*100% / 8);
	padding-left: 25px;
	border:none;
	font-weight: bold;	
	font-size: 17px;
}
.search_section h1, .search_section p{
	margin: 0 30px 10px 30px;
}

/*-------------Filtre button-------------*/
.filter_btn{
	position: relative;
	display: flex;
	height: 46px;
	padding: 10px 25px 10px 50px;
	font-weight: bold;
	background: white;
	border: solid 3px #F2F2F2;
	border-radius: 60px;
	margin: 10px 20px 10px 0;
}
.round_filter_svg{
	position: absolute;
	left:-2px;
	top: -3px;
	background: #DEEBFF;
	padding: 17px;	
	border-radius: 50%;
}
.filter_btn:hover{
		background:#DEEBFF;
		border: solid 3px#DEEBFF;
		color :#0065FC;	
		transition : background 1s, color 1s,border 1s;
}
.filter_section > button{      
	display: inline-block;
}
.filter_section{
margin-left: 30px;
}

/*-------------Search info label-------------*/
.fa-info{
	height: 30px;
	width: 30px;
	line-height: 5px;
	
	border: solid 2px #DEEBFF;
	padding: 10px 15px 10px 10px;
	border-radius: 50%;
	margin-right: 10px;
}
.info{
	display: flex;
	line-height: 1.2;
	margin-top: 20px;
}

/*-------------Most popular section-------------*/
.fa-chart-line{
	float: right;
	color: black;
}
.popular_section{
	padding-bottom: 20px;
}
.popular{
	position: relative;
}
.popular img{
	width:70%;
	height: 170px;
	border-radius: 23px 0 0 23px;
}

.popular aside{
	position: absolute;
	right: 15px;
	top: 3px;
	height: 175px;
	width: 40%;
	background: white;
	padding:10px 0 0 10px;
	line-height: 1.5;
}
.popular article{
	width: 855px;
	height:285px;	
}
/*-------------Hosting section-------------*/
.hosting{
	position: relative;
	height: 255px;
}

.hosting img{
	width:100%;
	height: 200px;
	border-radius: 23px 23px 0 0;
}

.hosting p, .hosting strong{
	word-wrap: normal;
	margin-bottom: 10px;
	font-size: 10px;
}

.hosting aside{
	position: absolute;
	width: 99%;
	height: 70px;
	bottom:14px;
	left:2px;
	background: white;
	line-height: 1.5;
	padding: 5px 0 0 15px;
}

.hosting_section h2:last-child{
	margin: 20px 0 20px 40px;
}

/*-------------Activity section-------------*/
.activity_section article{
	padding: 0;
	position: relative;
}
.activity_section img{
	width: 100%;
	height: 170px;
	border-radius: 24px 24px 30px 30px;
}
.activity_section h2{
	position: absolute;
	background:white;
	width: 100%;
	height:45px;
	bottom:0px;
	border-radius: 0 0 30px 30px;
	padding: 15px 0 0 25px;
}

/*-------------Footer-------------*/
footer section{
	display: flex;
	flex-direction: column;
	padding-left: 30px;
	margin-bottom:0px;
}
footer a{
	padding-bottom: 10px;
}
footer h2{
	margin: 10px 0 10px 0;
}
footer section:first-child{
	padding-top: 20px;
}

/*-------------------------Tablet responsive design--------------------------*/
@media screen and (min-width: 700px) { 
/*-------------General selectors-------------*/
	*{
		font-size: 12px;
	}
	h1, .fa-chart-line{
		font-size: 22px;
	}
	
/*-------------City search section (tablet)-------------*/
	.search_section h1{
			margin-bottom: 10px;
			margin-top: 15px;
	}
	.search_field{
		margin : 10px 5% 10px 5%;
		height: 50px;
		width:320px;
	}
	.search_section input{
		width:60%;
		font-size: 17px;
		padding-left: 20px;
	}
	.fa-map-marker-alt{
		line-height: 50px;
		top: -2px;
    	left: -3px;
    	height: 50px;
	}
	.fa-search{
		top: -2px;
		height: 50px;
		width: calc(100% / 7);
	}
/*-------------Filter section (tablet)-------------*/
	.filter_section{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: wrap;
		margin-left: 60px;
		margin-right: 20px;
	}
	.filter_section aside{
	 width: 100%;
	}	
	.filter_section h2{
		line-height: 80px;
		margin-right: 20px;
	}
	.filter_btn{
		height:40px;
		font-size: 17px;
		margin: 5px 15px 5px 0;
		padding: 0 25px 0 50px;
		border: solid 2px #F2F2F2;
	}
	.round_filter_svg{
		padding: 13px;
		left: -2px;
		top: -1px;
	}
	.filter_btn:hover{
		border: solid 2px #DEEBFF;		
}

/*-------------Search info label (tablet)-------------*/
	.fa-info{
		font-size: 17px;
		margin-right: 0px;
		padding: 10px 0px 0px 10px;
	}
	.info p{
	padding-top: 0px;
	line-height: 30px;
	margin-left: 10px;
	}
/*-------------Popular section (tablet)-------------*/
.fa-star{
	display: inline;
}
.popular_section :not(:first-child){
	display: inline-block;
}
.popular{
	width:44%;
	margin: 20px 20px 0 20px;	
}
.popular p{
	margin-bottom: 60px;
}
.popular aside{
	width:125px;
}

/*-------------Hosting section (tablet)-------------*/
.hosting_section :not(:first-child){
	display: inline-block;
}
.hosting{
	width:44%;
	margin: 20px 20px 0 20px;
	text-align: center;
}
.hosting aside{
	width:99%;
    height: 40px;
	padding-top: 10px;	
}
.hosting p{
	margin-right:20px;
}
.hosting_section h2:last-child{
	width: 100%;
	margin-left:0;
	text-align: center;
}
/*-------------Activity section (tablet)-------------*/
.activity_section :not(:first-child){
	display: inline-block;
}
.activity{
	width:44%;
	margin: 20px 20px 0 20px;
	text-align: center;
}
.activity_section h2{
	height: 25px;
	padding: 6px 0 0 0;
	left: 0;
}
/*-------------Footer (tablet)-------------*/
	footer{
		display: flex;
		justify-content: space-around;
		text-align: center;
	}
	footer section{
		padding:5px;
		margin: 10px 0 0 2%;
	}
	footer section:first-child {
	    padding-top: 0px;
	}
}

/*--------------------------Desktop responsive design--------------------------*/
@media screen and (min-width: 1024px) {
/*-------------General selectors-------------*/
	* {
    font-size: 15px;
	}
	#main_desktop{
		margin: 0 30px 0 30px;
		display: flex;
		flex-direction: row-reverse;
	}
/*-------------Header/NavBar (desktop)-------------*/
	nav{
		position: relative;
		display: flex;
		justify-content: flex-end;
		padding:0;
		margin-bottom: 55px;
		height: 40px;
	}
	.logo{
		position: absolute;
		top:15px;
		left: 25px;
		width: auto;
		height:60px;
	}
	.nav_subscribe, .nav_hosting, .nav_activity{
		width: 150px;
		padding: 20px 10px 0 10px;
		font-size: 15px;
	}
	.nav_subscribe{
		order:4;
		margin-right: 50px;
		text-align: center;
	}	
	.nav_hosting{
		border-bottom: none;
		border-top: solid 3px #0065FC;
	}
	.nav_activity{
		border: none;
	}
/*-------------Search input (desktop)-------------*/
	.fa-search {
		font-size: 0;
		border-radius: 0 20px 20px 0;
		line-height: 45px;
		width: 130px;
	}
	.fa-search::before{
		content: "Rechercher";
		font-family: Raleway,sans-serif;
		font-size: 17px;
	}
	.search_field{
		width: 475px;
	}
	.fa-map-marker-alt{
		top: -3px;
    	left: -3px;
    	height: 52px;
	}
/*-------------Search input (desktop)-------------*/
	.round_filter_svg{
		padding: 12.5px;
    	left: -3px;
    	top: -2px;
	}
/*-------------Hosting section (desktop)-------------*/
	.hosting_section{
		border-radius: 30px;
		margin-right: 15px;		
		width: 65%;
		background: #F2F2F2;
	}
	.hosting{
		width: 27%;
		margin: 20px 17px 0 17px;
		height: 200px;
	}
	.hosting img{
		height: 120px;
		margin-bottom: 10px;
	}
	.hosting h2, .hosting .fa-star{
		font-size: 10px;
	}
	.hosting p, .hosting strong {
       width: 100%;
       margin: 0;
	}
	.hosting aside{
		width:96%;
		height: 57px;
		left:4px;
		bottom: 12px;
		padding: 12px 0 0 9px;	
		line-height: 1;
		text-align: left;	
	}
	.hosting_section h2:last-child{
		text-align: left;
		margin-left: 30px;
	}
/*-------------Popular section (desktop)-------------*/
	.popular{
		width: 90%;
	}
	.popular aside{
		width:125px;
		height: 125px;
	}
	.popular p{
		margin-bottom: 40%;
		font-size: 10px;
	}
	.popular h2{
		font-size: 10px;
	}
	.popular img{
		height: 120px;
		padding: 4px 0 0 4px;
	}
	.popular_section{
		border-radius: 30px;
		margin-left: 15px;		
		width: 35%;
		background: #F2F2F2;
	}
/*-------------Activity section (desktop)-------------*/
	.activity_section h2{
		padding: 15px 0 30px 15px; 
		font-size: 15px;
	}
	.activity img{
		height: 95%;
		}
	.activity_section{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
  		grid-template-rows: 0.15fr 0.6fr 0.1fr 0.6fr;
  		grid-template-areas:
    		"section_title section_title section_title section_title"
			"img1 img2 img4 img5"
			"img1 img2 img4 img6"
    		"img1 img3 img4 img6";
   	}
	.activity_section h1{
		grid-area: section_title; 
	}
	.activity_section article:nth-of-type(1){
		grid-area: img1;
	}
	.activity_section article:nth-of-type(2){
		grid-area: img2;
	}
	.activity_section article:nth-of-type(3){
		grid-area: img3;
	}				
	.activity_section article:nth-of-type(4){
		grid-area: img4;
	}
		.activity_section article:nth-of-type(5){
		grid-area: img5;
	}
	.activity_section article:nth-of-type(6){
		grid-area: img6;
	}
	.activity_section article{
		margin: 0 10% 10% 10%;
	}
	.activity{
		width: auto;
		text-align: left;
	}
/*-------------Footer section (desktop)-------------*/
	footer{
		justify-content: flex-start;
		text-align: left;
	}	
	footer section{
		margin: 15px 0 30px 15%;
	}
	footer section:first-child{
		margin-left: 3%;
	}
}
/*Tadam*/