/*--------------------------Mobile first responsive design--------------------------*/
/*-------------General selectors-------------*/
*{
	font-family: raleway,sans-serif;
	font-size: 35px;
	margin: 0px;
	padding:0px; 
	box-sizing: border-box;
}
h1, h2, .strong{
	font-weight: bold;
}
h1{
	font-size: 50px;
	margin-bottom: 20px;
}
a{
	text-decoration: none;
	color : black;
}
article{
	background: white;
	border:solid 3px #F2F2F2;
	border-radius: 30px;
	padding: 20px;
	margin: 40px 40px 0px 40px;
	box-shadow: 0px 5px 50px rgba(0,0,0,.1);
}
section{
	margin: 10px 0 30px 0;
}
i, .active{
	color: #0065FC;	
}
.grey_star{
	color: #F2F2F2;	
}
.fa-star {
	padding-right: 10px;
}
.popular_section h1, .hosting_section h1, .activity_section h1{
	padding:30px 30px 20px 40px;
}
.popular_section, footer{
	background: #F2F2F2;
}

/*-------------Header/NavBar-------------*/
nav{
	display: grid;
	grid-auto-rows: 1fr 1fr;
	grid-template-columns: 50% 50%;
	grid-row-gap: 30px;
	padding: 30px 0px 0px 0px;
}
.logo{
	height: 100px;
	padding-left: 30px;
}
.nav_hosting, .nav_activity{
	text-align: center;
	align-self: center;
	font-size: 40px;
	border-bottom: solid #0065FC 5px;
	padding-bottom: 20px;
}
.nav_subscribe{
	text-align: right;
	align-self: center;
	font-size: 38px;
	color: #0065FC;
	font-weight: bold ;
	padding-right: 30px;
}
.nav_activity{
	border-bottom: solid #F2F2F2 5px;
}

/*-------------City search button-------------*/
.search_btn{
	text-align: center;
	height: 90px;
	width: 90%;
	margin : 50px 5% 50px 5%;
	background: white;
	border:solid 2px #F2F2F2;
	border-radius: 20px;
}
.fa-search{
	float: right;
	height: 100%;
	line-height: 90px;
	width: calc(100%/8);
	background: #0065FC;
	border-radius: 20px;
	color: white;
}
.fa-map-marker-alt{
	float: left;
	height: 100%;
	line-height: 90px;
	width: calc(100% / 8);
	color: black;
	background: #F2F2F2;
	border-radius: 20px 0 0 20px;
}
.search_section input{
	height:100%;
	width: calc(6*100% / 8);
	padding-left: 50px;
	border:none;
	font-weight: bold;	
	font-size: 35px;
}
.search_section h1, .search_section p{
	margin: 0 60px 20px 60px;
}

/*-------------Filtre button-------------*/
.filter_btn{
	position: relative;
	display: flex;
	align-items: center;
	height: 120px;
	padding: 20px 50px 20px 140px; 
	font-weight: bold;
	background: white;
	border: solid 5px #F2F2F2;
	border-radius: 60px;
	margin: 20px 20px 20px 0;
}
.round_filter_svg{
	position: absolute;
	left:-4px;
	top: -3px;
	background: #DEEBFF;
	padding: 41px;	
	border-radius: 50%;
}
.filter_btn:hover{
		background: #DEEBFF;
		color :#0065FC;	
		transition : background 1s, color 1s ;
}
.filter_section > button{
	display: inline-block;
}
.filter_section{
margin-left: 50px;
}

/*-------------Search info label-------------*/
.fa-info{
	height: 30px;
	width: 30px;
	line-height: 5px;
	font-size: 30px;
	border: solid 2px #DEEBFF;
	padding: 25px 30px 30px 20px;
	border-radius: 50%;
	margin-right: 30px;
}
.info{
	display: flex;
	justify-content: space-between;
	line-height: 1.2;
	margin-top: 20px;
}

.info p{
	padding-top: 10px;
	margin-right: 60px;
}

/*-------------Most popular section-------------*/
.fa-chart-line{
	float: right;
	color: black;
}
.popular_section{
	padding-bottom: 50px;
}
.popular{
	display: flex;
	position: relative;
	}
.popular img{
	width:427px;
	height: 285px;
	border-radius: 30px 0 0 30px;
}

.popular aside{
	position: absolute;
	right:6px;
	height: 285px;
	width: 520px;
	background: white;
	padding:0 20px 0 30px;
	line-height: 1.5;
}
.popular article{
	width: 855px;
	height:285px;	
}
.popular p, .popular strong, .hosting strong{
	word-wrap: normal;
	margin-bottom: 70px;
	font-size: 30px;
}

/*-------------Hosting section-------------*/
.hosting{
	position: relative;
	height: 450px;
}

.hosting img{
	width:100%;
	height: 285px;
	border-radius: 30px 30px 0 0;
}

.hosting p, .hosting strong{
	word-wrap: normal;
	margin-bottom: 20px;
	font-size: 30px;
}

.hosting aside{
	position: absolute;
	width: 855px;
	height: 179px;
	bottom:28px;
	left:20px;
	background: white;
	line-height: 1.5;
	padding: 20px 0 10px 20px;
}

.hosting_section h2:last-child{
	margin: 20px 0 20px 40px;
}

/*-------------Activity section-------------*/
.activity_section article{
	padding: 0;
	position: relative;
}
.activity_section img{
	width: 100%;
	border-radius: 30px 30px 30px 30px;
}
.activity_section h2{
	position: absolute;
	background:white;
	width: 100%;
	height:100px;
	bottom:0px;
	border-radius: 0 0 30px 30px;
	padding: 20px 0 0 50px;
}

/*-------------Footer-------------*/
footer section{
	display: flex;
	flex-direction: column;
	padding-left: 95px;
	margin-bottom:0px;
}
footer a{
	padding-bottom: 10px;
}
footer h2{
	margin: 20px 0 20px 0;
}

footer section:first-child{
	padding-top: 50px;
}

/*--------------------------Desktop responsive design--------------------------*/
@media screen and (min-width: 1000px){ /*Breackpoint values to be reevaluated*/
/*-------------General selectors-------------*/
	*{
		font-size: 17px;
	}
	
/*-------------Header/NavBar-------------*/
	nav{
		position: relative;
		display: flex;
		justify-content: flex-end;
		padding:0;
		margin-bottom: 20px;
		height: 40px;
	}
	.logo{
		position: absolute;
		top:0;
		left: 0;
		width: auto;
		height:60px;
	}
	.nav_subscribe, .nav_hosting, .nav_activity{
		
		width: 150px;
		padding: 20px 10px 0 10px;
		font-size: 15px;
	}
	.nav_subscribe{
		order:4;
		margin-right: 50px;
		text-align: center;
	}	
	.nav_hosting{
		border-bottom: none;
		border-top: solid 3px #0065FC;
	}
	.nav_activity{
		border: none;
		}

/*-------------City search section-------------*/
	.search_section h1{
			font-size: 22px;
			margin-bottom: 10px;
			margin-top: 75px;
	}

	.fa-map-marker-alt{
		line-height: 50px;
	}
	.search_btn{
		margin : 10px 5% 10px 5%;
		height: 50px;
		width:560px;
	}
	.fa-search {
		font-size: 0;
		border-radius: 0 20px 20px 0;
		line-height: 45px;
		width: 130px;

	}
	.fa-search::before{
		content: "Rechercher";
		font-size: 17px;
	}
	.search_section input{
		width:60%;
		font-size: 17px;
		padding-left: 20px;
	}
/*-------------Filter section-------------*/
	.filter_section{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: wrap;   /*Line return must be improved for high res*/
		margin-left: 60px;
	}
	.filter_btn h2{
		line-height: 80px;
	}
	.filter_btn{
		height:40px;
		font-size: 17px;
		margin: 5px -15px 5px 30px;
		padding: 0 15px 0 60px;
		border: solid 2px #F2F2F2;
	}
	.round_filter_svg{
		padding: 12px;
		left: -2px;
		top: -2px;
	}

/*-------------Search info label-------------*/
	.fa-info{
		font-size: 17px;
		margin-right: 0px;
		padding: 10px 0px 0px 10px;
	}
	.info p{
	padding-top: 0px;
	line-height: 30px;
	margin-left: 10px;
	}


/*-------------Hosting, Most popular and Activity main display-------------*/

/*-------------Footer-------------*/

footer{
	display: flex;
	justify-content: center;

}

footer section{
	padding:25px;
	margin: 10px 0 0 2%;
	flex-grow: 1;
}
footer section:first-child {
    padding-top: 25px;
}

/*--------------------------Tablet responsive design--------------------------*/
@media screen and (min-width: 600px) and (max-width: 999){ /*Breackpoints values to be reevaluated*/

	h1{
		background: orange;
	}
}
